.App {
  text-align: center;
}

.TopContainer {
  grid-row: 1;
  grid-column: 1 / 2;
  margin-left: 25%;
  text-align: center;
  position: relative;
  top: 0px;
  background-color: #841617;
  color: #fff;
}

.BottomContainer 
{
  grid-row: 1;
  grid-column: 1;
  margin-top: 50px;
  margin-left: 5%;
  
}

.MatTable
{
  width: 80%;
}

.Right
{
  margin-top: 50px;
  grid-column: 2;
}

.Wrapper
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(200px, auto);
}

.Title {
  font-size: 2em;
  font-weight: bold;
  background-color: darkred;
  width: 100%;
  color: white;

}

.MainContainer {
  position: fixed;
  width: 100%;
}

.TableInner {
  width: 100%
}

html, body
{
  height: 100%;
  background-color: wheat
}

#root
{
  height: 100%;
}
