.MainTable {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 3px solid black;
  border-collapse: collapse
}

th
{
  font-size: 2em;
  border: 3px solid black
}