.Machine{
    background-color: white;
    border:0;
    border-collapse: collapse;
}

.MName{
    margin-top: 0px;
    border: 2px solid black;
}



.Key{
    width:100%;
    height: 100%;
    margin: 0;
    border: 0;
    font-size: 34px;
}
.MuiButtonBase-root-140
{
    color: skyblue;
}

.Add{
    background-color: skyblue;
    color: skyblue;
}

.AddBox
{
    border: 2px solid black;
    background-color: white;
}

.Third{
    display: flex;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    justify-content: center;
    background-color: white;
    color: rgb(46, 125, 156);
    
}

.Fourth
{
    display: flex;
    justify-content: center;
    
}

.InfoBox{
    border: 2px solid black;
}

.KeyBox{
    border: 2px solid black;
    height: 100%;
}

.Login {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
    background-color: rgba(0,0,0, 0.5);
  
  }
  .Login_inner1 {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 30%;
    bottom: 50%;
    z-index: 1000;
  
    background: lightgray;
    color: red;
    border: solid black 2px;
  }
  
  .Close_bar
  {
    width: 100%;
    float: top;
    display: block;
  }
  
  .closer
  {
    float: top;
    border: solid red 1px;
    color: red;
    margin: 0px;
  }
  
  .SignIn
  {
    color: black;
    margin-top: 30px;
    font-size: 1em;
    font-weight: bold;
  }
  
  .SignForm
  {
    margin-top: 40px;
  }
  
  .UserBar
  {
    display: block;
    margin-bottom: 20px;
  
  }
  
  .PasswordBar
  {
    margin-bottom: 20px;
    display: block;
  }