.Machine{
    background-color: white;
}

.MName{
    margin-top: 0px;
}

.Key{
    width:100%;
    height: 100%;
    margin-right: 0px;
    margin-top: 0px;
}

.Add{
    width:100%;
    height: 100%;
    margin-right: 0px;
    margin-top: 0px;
    float: top;
}

.KeyBox{
    margin-top: 10px;
}