.MainTable{
    width: 80%;
    font-size: 8px;
    border: 0;
}

.Header
{
    font-weight: bold;
    color: white;
    background-color: darkred;
    border: 0;

}

.HName{
    border: 2px solid black;
}

.HID{
    border: 2px solid black;
}